.con_news_list{
    width: 100%;
    margin-top: 50px;
}
.con_news_list li{
    width: 31%;
    margin-right: 3.5%;
    float: left;
    margin-bottom: 30px;
    height: 500px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.con_news_list li .con_news_img {
    width: 100%;
    height: 47%;
}
.con_news_list li .con_news_word{
    position: relative;
    background: #fbfbfb;
    height: 53%;
    width: 100%;
    padding: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    transition: all .6s ease-out;

}
.con_news_list li .con_news_word h1{
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
    text-align: justify;
}
.con_news_list li .con_news_word p{
    font-size: 14px;
    color: #969696;
    line-height: 25px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 25px;
    text-align: justify;
    text-indent: 2em;
}
.con_news_list li .con_news_word .icon-time{
    font-size: 14px;
    color: #646464;
    float: left;
    margin-left: 10px;
}
.con_news_list li .con_news_word .icon-time span{
    font-size: 14px;
    color: #646464;
    margin-left: 10px;
}
.con_news_list li .con_news_word a{
    font-size: 14px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #000;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: block;
    border-radius: 20px;
    border: solid 2px #c8c8c8;
    font-weight: bold;
}
.con_news_list li:hover .con_news_word{
    background: #2b2b2b;
}
.con_news_list li:hover .con_news_word h1,.con_news_list li:hover .con_news_word p,.con_news_list li:hover .con_news_word a,.con_news_list li:hover .con_news_word span{
    color: #fff;
}
.con_news_list li .con_news_word a:hover{
    background: #fe9200;
    border: solid 2px #fe9200;
    color: #fff;
}
.con_news_list li:last-child{
    border: 2px dashed #969696;
    display: table;
}
.con_news_list li:last-child h1{
    color: #646464;
    font-size: 25px;
    text-align: center;
    height: 100%;
    vertical-align:middle;
    display:table-cell;

}
.con_news_list li:nth-child(3n+3){
    margin-right: 0px;
}