/*tab切换*/
.tem02-pro-detail-sm .rightlist{padding:10px;}
.tem02-pro-detail-sm .pro-detail-tab{background-color:#fff;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs > li{height:44px;line-height:44px;float:left;text-align:center;background-color:#ddd;border-radius:6px 6px 0 0;color:#000;margin-right:5px;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs > li > a{display:block;color:#000;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs li.on{background-color:#fff;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs li.on a{color:#3167db;}
.tem02-pro-detail-sm .pro-detail-tab>.description{padding:20px 10px;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header{background-color:#f7f7f7;border-top: 1px solid #eee;border-left: 1px solid #eee;border-right: 1px solid #eee;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li{height:40px;line-height:40px;background:none; border-radius:0;margin-right: 0;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li:first-child{margin-left:-1px;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li:hover{color:inherit;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li a{line-height:40px;padding:0 12px;border:none;border-radius:0;margin-right:0;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li a:hover{color:var(--main-color);background:none;}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li.active{background:var(--main-color);}
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li.active > a, 
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li.active > a:hover, 
.tem02-pro-detail-sm .pro-detail-tab .nav-tabs.nav-tabs-header > li.active > a:focus{color:#fff;background:var(--main-color);border:none;}
/*商品详情*/
.tem02-pro-detail-sm  #describe .col-md-12{border:1px solid #ccc;margin:10px 0;padding:10px 0;}
.tem02-pro-detail-sm  #describe .col-md-12 .col-md-4{font-size:12px;line-height:20px;margin:5px 0;}
.tem02-pro-detail-sm  #describe .col-md-12 .col-md-4 img{width:100%;}
.tem02-pro-detail-sm  #describe .images{width:100%;}
.tem02-pro-detail-sm  #describe .images img{width:100%;display:block;margin-top:10px;}
@media (max-width:767px){
.tem02-pro-detail-sm .leftlist  .imgbar-full{height:auto;display:block;}
}
/*商品评论*/
.tem02-pro-detail-sm .comment-con{}
.tem02-pro-detail-sm .comment-con .comment-info{overflow:hidden; padding:15px 0 25px 0;}
.tem02-pro-detail-sm .comment-con .comment-info{}
.tem02-pro-detail-sm .comment-con .comment-info .comment-percent{width:150px; padding:10px 0 0 0; float:left;text-align:center; }
.tem02-pro-detail-sm .comment-con .comment-info .comment-percent .percent-tit{font-size:12px; color:#666; font-weight:400; } 
.tem02-pro-detail-sm .comment-con .comment-info .comment-percent .percent-con{line-height:110%;font-size:45px;} 
.tem02-pro-detail-sm .comment-con .comment-info .comment-percent .percent-con span{font-size:23px; }
.tem02-pro-detail-sm .comment-con .comment-info .percent-info{margin-left:150px;padding-left:20px;}
.tem02-pro-detail-sm .comment-con .comment-info .percent-info .tag-title{font-size:14px;margin-bottom:10px;}
.tem02-pro-detail-sm .comment-con .comment-info .percent-info .tag-list{}
.tem02-pro-detail-sm .comment-con .comment-info .percent-info .tag-list span{display:inline-block; line-height:20px; padding:0 9px; border:1px solid #e0e0e0; border-radius:2px; margin-right:10px; margin-bottom:10px; color:#999;cursor:pointer;} 
.tem02-pro-detail-sm .comment-con .comment-info .percent-info .tag-list span.tag-name{font-size:12px; color:#999; border-color:#e0e0e0; }
.tem02-pro-detail-sm .comment-con .comment-info .percent-info .tag-list span.tag-name.active {color:inherit; border-color:inherit; }
.tem02-pro-detail-sm .comment-con .comment-list{font-size:12px;}
.tem02-pro-detail-sm .comment-con .comment-list .tab-main{border:1px solid #f5f5f5; background-color:#fafafa; padding-left:10px; }
.tem02-pro-detail-sm .comment-con .comment-list .tab-main ul{margin-top:-1px;color:#666;}
.tem02-pro-detail-sm .comment-con .comment-list .tab-main li{position:relative; display:inline-block;padding:5px 10px;text-decoration:none; cursor:pointer; }
.tem02-pro-detail-sm .comment-con .comment-list .tab-main li.font-color{}
.tem02-pro-detail-sm .comment-con .comment-list .tab-main li em{font-style:normal;}
.tem02-pro-detail-sm .comment-con .comment-list .tab-con{padding:10px 0;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item{padding:10px;border-bottom:1px solid #ddd;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .user-column{width:120px; float:left; } 
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .user-info img{width:25px;height:25px;border-radius:50%; margin-right:5px;display:none;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .comment-column{margin-left:120px; }
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .comment-message{font-size:14px;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .comment-time{font-size:12px;color:#999;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .order-info{font-size:12px;color:#999;margin-top:5px;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .comment-reply{border-top:1px solid #f0f0f0; margin-top:12px; padding-top:12px;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgitems .img-item{width:50px;height:50px;position:relative;display:inline-block;border:2px solid #eee;padding:2px;cursor: url(/templates/public4/assets/images/zoom_in.png),url(/templates/public4/assets/images/zoom_in02.cur),auto;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgitems .img-item.active{border-color:red;cursor: url(/templates/public4/assets/images/zoom_out.png),url(/templates/public4/assets/images/zoom_out02.cur),auto;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgitems .img-item::after{content: ""; position: absolute; left: 15px; bottom: -8px;z-index: 1;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgitems .img-item.active::after {display: inline-block; width: 0; height: 0; font-size: 0; line-height: 0; border-top: 6px solid red; border-left: 6px solid transparent; border-right: 6px solid transparent; _border-left-color: pink; _border-right-color: pink; _filter: chroma(color=#ffc0cb); }
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgitems .img-item img{width: 100%;height: 100% !important;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgviewer{position:relative;display:none;margin-top: 10px;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgviewer.active{display:block;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .imgbox .imgviewer img{width:300px;height:auto;border:1px solid #ddd;padding:5px;}
@media (max-width:767px){
.tem02-pro-detail-sm .comment-con .comment-info{padding:15px 0;}
.tem02-pro-detail-sm .comment-con .comment-list .tab-main{padding-left:0;}
.tem02-pro-detail-sm .comment-con .comment-list .tab-main ul{margin-top:0;}
}
@media (max-width:480px){
.tem02-pro-detail-sm .comment-con .comment-info{padding:10px 0;}
.tem02-pro-detail-sm .comment-con .comment-info .comment-percent{width:auto;float:none;padding:0;}
.tem02-pro-detail-sm .comment-con .comment-info .percent-info{margin-left:0;padding-left:0;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item{padding:10px 0;}
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .user-column{width:100%;float:none;} 
.tem02-pro-detail-sm .comment-con .comment-list .comment-item .comment-column{margin-left:0;}
}
/*评分*/
.tem01-score{vertical-align:middle;line-height:34px}
.tem01-score i{margin-right:2px;cursor:pointer;font-size:20px}
.tem01-score i:before{content:"\e262";color:#999}
.tem01-score i.font-color:before{content:"\e260";color:inherit}
.tem01-score.i0-5 i:nth-child(1):before,
.tem01-score.i1-5 i:nth-child(2):before,
.tem01-score.i2-5 i:nth-child(3):before,
.tem01-score.i3-5 i:nth-child(4):before,
.tem01-score.i4-5 i:nth-child(5):before{content:"\e261";color:inherit}
.tem01-score.i1-5 i:nth-child(1):before,
.tem01-score.i2-5 i:nth-child(1):before,
.tem01-score.i2-5 i:nth-child(2):before,
.tem01-score.i3-5 i:nth-child(1):before,
.tem01-score.i3-5 i:nth-child(2):before,
.tem01-score.i3-5 i:nth-child(3):before,
.tem01-score.i4-5 i:nth-child(1):before,
.tem01-score.i4-5 i:nth-child(2):before,
.tem01-score.i4-5 i:nth-child(3):before,
.tem01-score.i4-5 i:nth-child(4):before,
.tem01-score.i1-0 i:nth-child(1):before,
.tem01-score.i2-0 i:nth-child(1):before,
.tem01-score.i2-0 i:nth-child(2):before,
.tem01-score.i3-0 i:nth-child(1):before,
.tem01-score.i3-0 i:nth-child(2):before,
.tem01-score.i3-0 i:nth-child(3):before,
.tem01-score.i4-0 i:nth-child(1):before,
.tem01-score.i4-0 i:nth-child(2):before,
.tem01-score.i4-0 i:nth-child(3):before,
.tem01-score.i4-0 i:nth-child(4):before,
.tem01-score.i5-0 i:nth-child(1):before,
.tem01-score.i5-0 i:nth-child(2):before,
.tem01-score.i5-0 i:nth-child(3):before,
.tem01-score.i5-0 i:nth-child(4):before,
.tem01-score.i5-0 i:nth-child(5):before{content:"\e260";color:inherit}
.tem01-score.OFF i{cursor:default}