body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
  height: 100%;
  -webkit-font-smoothing: antialiased
}
body {
  color: #333;
  line-height: 1;
  background: #f0f0f0;
   
}
body.blue { background: #efeff4; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block; }
dl,
dt,
dd,
ul,
ol,
li,
em,
i,
p {
  margin:0;
  padding:0;
  list-style: none;
  font-style: normal;
}
li {
  font-size: 14px;
  font-size: 1.4rem;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}
:focus { outline: 0; }
a {
  color: #333;
  tap-highlight-color: rgba(0,0,0,0);  
  focus-ring-color: rgba(0, 0, 0, 0);  
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);  
  -moz-tap-highlight-color: rgba(0,0,0,0);  
  -moz-focus-ring-color: rgba(0, 0, 0, 0); 
}
a:hover { color: #000; }
a:focus { outline: none; }
a,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}


/* ===== retrie分类下来 ===== */
.retrie {
  position: relative;
  z-index: 102;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.retrie dt {
  overflow: hidden;
  margin-top: 8%;
}
.retrie dt a {
  position: relative;
  float: left;
  width: 100%;
  height: 49px;
  line-height: 50px;
  color: #333;
  font-size: 14px;
  font-size: 16px;
  text-align: center;
}
.retrie dt a:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: 30px;
  width: 8px;
  height: 8px;
  border: #666 solid;
  border-width: 1px 1px 0 0;
  content: ' ';
  -webkit-transform: rotate(135deg);
}
.retrie dt .up {
  color: #007ccf;
  border-bottom: 2px solid #007ccf;
}
.retrie dt .up:after {
  margin-top: 0;
  border: #007ccf solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(-45deg);
}
.retrie dt a:last-child:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 1px;
  height: 30px;
  background-color: #ebebeb;
  content: ' ';
}
.retrie dd { position: relative; }
/* ===== slide-area ===== */
.slide {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 104;
  display: none;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
}
.slide li {
  display: block;
  height: 50px;
  float: left;

  border-bottom: 1px solid #eee;
}
.slide li a {
  display: block;
  padding: 0 8px;
  height: 50px;
  background-color: transparent;
  line-height: 25px;
}
.slide li a:hover,
.slide li a.selected { background-color: #f6f6f6; }

.slide li a.select { background-color: #fff; }
.foot{
  display: none;
}

.head{
  display: none;
}

.waphead{
  width: 100%;
  display: block;
  background-color: #143993;

}
.navbar{
  width: 95%;
  background-color: #143993;
  margin-top: 15px;
  height: 50px;
  display: block;
}
.navbar .nav-list{
  width: 100%;
  z-index: 0;
  display: block;
}
.navbar .nav-list div:first-child{
  width: 8%;
  float: left;
}
.navbar .nav-list div{
  width: 15%;
  float: left;
}
.navbar .nav-list a{
  color: white;
  line-height: 35px;
  text-decoration-line: none;
}
.navbar .nav-list  a:hover{
  color: #143993;
}

.navbar label{
  display: block;
}
.navbar .nav-toggle{
  display: none;
}
.waplogo{
  display: block;
  float: right;
  margin-top: -55px;
  margin-right: 5px;
}
.wapleibie{
  display: block;
}
.con_news_list{
  margin-top: 0;
}
.con_news_list li {
  margin-left: 6%;
  width: 85%;
}
.news_nav{
  margin-left: 8%;
  margin-top: 15%;
}

.product_list{
  margin-top: 10%;
  margin-left: 9%;
}

.View_title{
  margin-top: 10%;
}
.showArea a{
  float: top;
}
.index_cy{display: none;}
.about_left{width: 100%;}

.about_center{display: none;}
.about_right{
  margin-left: 2%;
  width:95%;
  margin-top: -100px;
  float: left;
  min-height: 600px;
  position: relative;
}

.about_center_wap {
  width:100%;
}
.about_center_wap ul{display: block;}
.about_center_wap li{
  width:31%;
  float: left;
}
.about_center_wap ul li div:hover span {
  width: 57.6px;
  height: 57.6px;
  border-radius: 57.6px;
  margin: -28.6px;

}
.about_center_wap ul li div.active span {
  width: 57.6px;
  height: 57.6px;
  border-radius: 57.6px;
  margin: -28.6px;

}
.about_center_wap ul li div  {
  border-radius: 57.6px;
  cursor: pointer;
  display: inline-block;
  font-size:27px;
  height: 57.6px;
  line-height: 57.6px;
  margin: 0 6px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 57.6px;
  text-decoration:none;
}

.about_center_wap ul li div span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.lb .roundabout-moveable-item{
  margin-top: 5%;
  width: 250px;
  height: 350px;
}
.lb .dian{display: none;}

.lb img{
  width: 100%;
  height: 30%;
}
.lb img:first-child{
  width: 100%;
  height: 70%;
}
.container .title h3{font-size: 14px;}

.third{width: 100%;}

.i_a_main{
  width: 90%;
  margin: 0 auto;
}
.i_a_main img{
  margin-top: 9%;
  width: 90%;
  float: left;
}


.i_a_main .word{
  width: 80%;
  margin-top: -10px;
  float: left;
}
.i_a_main .word h1{
  font-size: 16px;
  padding: 3px 0;
  color: #fff;
  border-bottom: 2px #fff solid;
  float: left;
  margin-bottom: 10px;
}
.i_a_main .word p{
  clear: both;
  font-size: 10px;
  color: #fff;
  line-height: 15px;
  text-indent: 2em;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.fourth .container{display: none;}
#scrollPage .btn span:nth-child(4) {
  display: none;
}
.allmap_index{
  margin-top: 30%;
}



